@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*{
    padding: 0;
    margin: 0;
}

body{
    background: #2A2A2A;
    color: #fff;
    font-family: "Roboto", system-ui;
    font-weight: 100;
    font-style: normal;
}

main{
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

p{
    padding: .3rem;
    margin: 1rem;
    background: #7e1f1f;
    font-weight: 400;
}

form{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin: 6rem;
}

.btn{
    padding: .5rem;
    font-size: 1rem;
    font-weight: 600;
    border: none;
    border-radius: 5px;
    color: #fff;
    background: #0e0e0e;
    transition: .1s;
}

.btn:active{
    transform: scale(.9);
    transition: .1s;
}

.titulo{
    font-size: 4rem;
}

.content{
    display: flex;
    align-items: center;
    flex-direction: column;
}

.input-text{
    width: 250px;
    height: 40px;
    padding: 1rem;
    font-size: 1rem;
    font-weight: 600;
    background: #bababa;
    border: none;
}

.input-text:focus{
    outline: none;
}

.content-tareas{
    overflow: hidden;
    width: 250px;
    height: 250px;
    padding: 1rem;
    background: #bababa;
    color: #000;
    font-size: 1rem;
    font-weight: 600;
}

.lista{
    margin: 1rem;
}